body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    height: 1in;
    margin-top: 25px;
    background-color: #D9D9D9;
}

* {
    box-sizing: border-box;
}

#Web {
    display: flex;
}

.Certification-Menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3%;
}

.Certification-Generated {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.Certification-Paper {
    width:8.5in;
    height:11in;
    border: solid 1px;
    border-color: black;
}

.a {
    width:8.5in;
    height:11in;
    border: solid 1px;
    border-color: black;
    color:blue;
}

.b {
    width:8.5in;
    height:11in;
    border: solid 1px;
    border-color: black;
    color:red;
}

.c {
    width:8.5in;
    height:11in;
    border: solid 1px;
    border-color: black;
    color:green;
}
